@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>To Do Lists - Group 4</h1>
</div>

<div>
    <h3>
        Requirements:
    </h3>
    <p>
        CRUD To Do Lists with CRUD To Do List items (or none). CRUD Categories that To Do Lists can select and add as a attribute.
    </p>
</div>

<div class="row" >
    <div class="col-md-4" style="background-color:#FCF0AD; box-shadow: 10px 10px 5px #888888; width: 200px; padding-bottom: 10px;">
        <h2>To Do Lists</h2>
        <p>Collection of To Do Lists</p>
        <p><input type="button" value="Access Lists" onclick="location.href='@Url.Action("Index", "TodoLists")'" /></p>
    </div>
    <div class="col-md-4" style="background-color:#FCF0AD; box-shadow: 10px 10px 5px #888888; width: 200px; padding-bottom:10px;">
        <h2>List Categories</h2>
        <p>Collection of Current Categories</p>
        <p><input type="button" value="Access Categories" onclick="location.href='@Url.Action("Index", "Categories")'"/></p>
    </div>
</div>

<div>
    <h4>
        Team Members:
    </h4>
    <p>
        Daniel Bigelow, Cade Kynaston, Justin Messenger, Nelson Muhlestein, Wesley Smith
    </p>
</div>