@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>To Do Lists - Group 4</h1>
</div>

<div>
    <h3>
        Requirements:
    </h3>
    <p>
        CRUD To Do Lists with CRUD To Do List items (or none). CRUD Categories that To Do Lists can select and add as a attribute.
    </p>
</div>

<div class="row" >
    <div class="col-md-4" style="background-color:#FCF0AD">
        <h2>To Do Lists</h2>
        <p>Collection of To Do Lists</p>
        <p><a class="btn btn-default">Access Lists &raquo;</a></p>
    </div>
    <div class="col-md-4" style="background-color:#FCF0AD">
        <h2>List Categories</h2>
        <p>Collection of Current Categories</p>
        <p><a class="btn btn-default">Access Categories &raquo;</a></p>
    </div>
</div>